<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DefaultFont" value="chessmerida"/>
    <add key="DefaultSize" value="50"/>
    <add key="OutputDir" value=".\output\"/>
    <add key="WorkDir" value=".\fens\"/>
    <add key="OnTop" value="True"/>
  </appSettings>
</configuration>
